<%if false%>
<% @posts.each do |post| %>
  <h1> <%= post.title %></h1>
  <h4> <%= post.content %></h4>
<% end %>
<% end %>


<div style="position: relative;left: 20px;top: 20px;">
  <table id="todos">
    <tr>
      <th style="font-size: 20px">ID</th>
      <th style="font-size: 20px">| Title</th>
      <th></th>
    </tr>

    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td style="position: relative;left:20px;"><%= link_to 'Show', post_path(post), :class => "btn btn-secondary" %></td>
      </tr>
    <% end %>
  </table>
</div>

